# Statistical Intuitions and Applications

## Assignment - 1

Main Setup. For this assignment you will select a random sample from a dataset using the codes given below with all the detailed steps. To select your random sample and save your data set on your computer follow these instructions:

Run the Sample size code below to find the sample size 'n' on which you will work.
Go the 3rd line of CSV file code below and enter your sample size n = ???
Now go the 4th line: df.to_csv(r'Path where you want to store the exported CSV file\FileName.csv')
Change Path where you want to store the exported CSV file to where you want to store your data.
Change File Name to your first name.
Run the code.
Once you run these two codes, your CSV file will be saved on your device at the same location you provided. Using the third code "Access the file ..." below, you will acces this file. Also include this CSV file in your assignment submission!

Don't run the first two codes over and over again, once you have formally started working on your assignment.

In [2]:
# CSV File
import pandas as pd
original_data = pd.read_csv("earning_dataframe.csv")

In [3]:
original_data

,Academic_Year,Institution_Type_EN,Campus_Zone_EN,LocalFlag_EN,Gender_EN,Bachelors,Certificate,Diploma,Doctorate,Graduate Diploma,Higher Diploma,Masters,Total
0,2013,Federal,Abu Dhabi,Expat,Female,235,6,55,8,18,40,40,402
1,2013,Federal,Abu Dhabi,Expat,Male,126,6,10,8,80,1,42,273
2,2013,Federal,Abu Dhabi,Local,Female,1838,5,532,8,80,192,280,2935
3,2013,Federal,Abu Dhabi,Local,Male,886,54,229,8,80,193,185,1635
4,2013,Federal,Dubai,Expat,Female,4,19,55,8,18,40,57,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,2021,Non-Federal,Sharjah,Local,Male,367,19,1,13,1,40,163,604
405,2021,Non-Federal,Umm Al-Quwain,Expat,Female,15,19,55,8,80,40,132,349
406,2021,Non-Federal,Umm Al-Quwain,Expat,Male,14,19,55,8,80,40,132,348
407,2021,Non-Federal,Umm Al-Quwain,Local,Female,15,19,55,8,80,40,132,349
408,2021,Non-Federal,Umm Al-Quwain,Local,Male,34,19,55,8,80,40,132,368